
<form method="post" action="/celebrities/create" class="form" enctype="multipart/form-data">
    <h1 class="title">Create Celebrity</h1>

    <label for="name" class="label">Name</label>
    <input class="input" type="text" id="name" name="name" value="name">

    <label for="occupation" class="label">Occupation</label>
    <input class="input" type="text" id="occupation" name="occupation" value="occupation">

    <label for="catchPhrase" class="label">Catch Phrase</label>
    <input class="input" type="text" id="catchPhrase" name="catchPhrase" value="Catch Phrase">


    <button type="submit" class="btn">create</button>

</form>